# Enable CORS for communication with the app
Header always set Access-Control-Max-Age 1728000
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT,HEAD"
Header always set Access-Control-Allow-Headers: "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type"
Header always set Access-Control-Allow-Credentials true

# Serve files with some extension when no extension is specified in the URL
# For example, serve foo/bar.php when the URL is foo/bar
Options +MultiViews

# Block access to some resources
<Files ~ "^config.json|contact-ids.json|contact-ids.sqlite|google-service-account.json|sf-auth.json$">
  order allow,deny
  deny from all
  satisfy all
</Files>

# Use PHP 7.1
# AddHandler application/x-httpd-php71 .php